.idea/

/FullStackTraining/.idea/

/FullStackTraining/FullstackChat/bin
/FullStackTraining/FullstackChat/obj
/FullStackTraining/FullstackChat/ClientApp/node_modules


/FullStackTraining/react-js-frontend-for-api/node_modules

/FullStackTraining/ASP.NETCoreApi/bin/
/FullStackTraining/ASP.NETCoreApi/obj/

/FullStackTraining/FirstApp/bin/
/FullStackTraining/FirstApp/obj/
/FullStackTraining/FirstApp/wwwroot/


*.pdf
