.idea/

/FullStackTraining/.idea/

/FullStackTraining/react-js-frontend-for-api/node_modules

/FullStackTraining/ASP.NETCoreApi/bin/
/FullStackTraining/ASP.NETCoreApi/obj/

/FullStackTraining/FirstApp/bin/
/FullStackTraining/FirstApp/obj/


*.pdf
