.idea/

/ContosoUniversity/.idea/


/ContosoUniversity/ASP.NETCoreApi/bin/
/ContosoUniversity/ASP.NETCoreApi/obj/
/ContosoUniversity/ASP.NETCoreApi/obj/

/ContosoUniversity/FirstApp/bin/
/ContosoUniversity/FirstApp/obj/
/ContosoUniversity/FirstApp/wwwroot/

/ContosoUniversity/ContosoUniversity/bin/
/ContosoUniversity/ContosoUniversity/obj/
/ContosoUniversity/ContosoUniversity/obj/


*.pdf
