@model ItemsListViewModel

<h1>All items:</h1>
<div class="row mt-5 mt-2">
    @{
        foreach (var item in Model.AllItems)
        {
            <div class="col-lg-4">
                <img src="@item.Img" class="img-thumbnail" alt="@item.Name">
                <h3>Name: @item.Name</h3>
                <p>Price: @item.Price.ToString("c")</p>
            </div>
        }
    }
    </div>