@using FirstApp.Models
@model IEnumerable<FirstApp.Models.Student>

<h1>All items:</h1>
<div class="row mt-5 mt-2">
    @{
        foreach (Student item in Model)
        {
            @await Html.PartialAsync("Student", item)
        }
    }
</div>