@using FirstApp.Models
@model IEnumerable<FirstApp.Models.Student>

<div class="row">
    <div class="col-lg-11">
        <h1>All students:</h1>
    </div>
    <div class="col-lg-1">
        <a class="btn btn-success"
           href="/Cart">
            Корзина
        </a>
    </div>
</div>
<div class="row mt-2">
    @{
        foreach (Student item in Model)
        {
            @await Html.PartialAsync("Student", item)
        }
    }
</div>