@using FirstApp.Models
@using FirstApp.ViewModels
@model  StudentsListViewModel

<div class="row">
    <div class="col-lg-3">
        <h1>All students:</h1>
    </div>
    <div class="col-lg-8"></div>
    <div class="col-lg-1 mt-2">
        <a class="btn btn-success"
           href="/Cart">
            Корзина
        </a>
    </div>
</div>
<div class="row mt-2">
    @{
        foreach (Student item in Model.Students)
        {
            @await Html.PartialAsync("Student", item)
        }
    }
</div>